<!doctype html>
<html lang="en">
    <head>
        <title>Ticket Details</title>
    </head>
    <body>
        <%- include('../partials/userDetails') %>
        <h1>Ticket Details</h1>
        <p>Creator's OIB: <%= ticket.vatin %></p>
        <p>Ticket created by: <%= `${ticket.firstName} ${ticket.lastName}` %></p>
        <p>Time created: <%= formatInTimeZone(new Date(ticket.created), 'Europe/Zagreb', 'dd. MM. yyyy. - HH:mm') %></p>
    </body>
</html>
