<div style="position: absolute; top: 10px; right: 10px;">
    <% if (user) { %>
        <p>Welcome, <%= user.name %>!</p>
        <a href="/logout"><button>Logout</button></a>
    <% } else { %>
        <a href="/login"><button>Login</button></a>
    <% } %>
</div>
